<div class="jumbotron background-image-6" style="height:1000px">
    <div class="container">
        <div class="row">
          <h1>About</h1>
          <div class="col-md-4 col-sm-12">
            <h3>Our Service</h3>
            <p>We use our access to peer-reviewed science on motivation, planning, habit formation, and healthy eating to give the best possible advice on how to achieve your weight loss goals.  We keep tabs on your daily progress and are always available within 24 hours for any questions you might have.</p>
          </div>
          
          <div class="col-md-4 col-sm-12">
            <h3>Story</h3>
            <p>Our founder struggled with motivation, poor eating habits, and failure to achieve his weight loss goals. He started researching why this might be through his university library, and found that there are mostly uniform reasons why motivation flags, why habits are hard to change and why goals don't get achieved.  He wants to share that information so everyone can achieve their goals.</p>
            <!--<p>Our founder struggled with motivation, poor habits and failure to achieve his goals.  He started researching why this might be through his university library, and found that there are mostly uniform reasons why motivation flags, why habits are hard to change and why goals don't get achieved.  He wants to share that information so everyone can achieve their goals.</p>-->
          </div>
          
          <div class="col-md-4 col-sm-12">
            <h3>Mission</h3>
            <p>Our mission is to help people achieve their goals effectively and with such a confidence in our product that we can guarantee its benefits.  We seek to create a more successful, healthy and goal-oriented world.</p>
          </div>
        </div>
    </div>
</div>