<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li role="presentation"><a href="index.html">Peer<span style="font-family: 'Lobster', cursive;">Achieve</span></a></li>
        <li role="presentation"><a href="about.html"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
        <li role="presentation"><a href="faq.html"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<!--ABOUT MAIN CONTENT-->
<main class="container about">
  <section class="row">
    <h1>About</h1>
    <p class="lead">PeerAchieve is designed to get your goals accomplished.</p>
    <div class="col-md-4 col-sm-12">
      <h3>The Product</h3>
      <p>PeerAchieve makes you feel the pressure to get your goals done, because other people are following your progress.  A very supportive community will help you stay on track.</p>
    </div>
    
    <div class="col-md-4 col-sm-12">
      <h3>Mission</h3>
      <p>PeerAchieve wants to make it easy for anyone to achieve their goals.</p>
    </div>
    
    <div class="col-md-4 col-sm-12">
      <h3>Me</h3>
      <p>I'm just a Georgetown student picking up web development and building things I want.  Check out the <a href="contact.html">contact page</a> if you'd like to contact me. You can also follow me on Twitter:</p>
      <a class="twitter-follow-button" href="https://twitter.com/ErikVDW1" data-show-count="false" data-lang="en">Follow me</a>
      <script type="text/javascript">
      window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src= "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
      }(document, "script", "twitter-wjs"));
      </script>  
    </div>
  
  </section>

  <!--FEEDS-->
  <section class="row">
    <h2>Content I enjoy</h2>
    <div class="col-md-6 col-sm-12"><!--Medium Feed-->
      <h3>- Stanford course on how to start a startup</h3>
      <p>(Paul Graham loves it)</p>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <script async src="https://static.medium.com/embed.js"></script><a class="m-collection" href="https://medium.com/how-to-start-a-startup">How to Start a Startup</a>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>- People I follow</h3>
      <h4>Paul Graham</h4>
      <p>A great advisor on startups</p>
      <blockquote class="twitter-tweet" lang="en"><p>Sam Altman deserves a round of applause for putting together <a href="https://twitter.com/hashtag/cs183b?src=hash">#cs183b</a>. I can&#39;t think of a class I took in college that was that good.</p>&mdash; Paul Graham (@paulg) <a href="https://twitter.com/paulg/status/541347320650952704">December 6, 2014</a></blockquote>
      <hr>

      <h4>LifeHacker</h4>
      <p>Never a bad time to make your life easier.</p>
      <blockquote class="twitter-tweet" lang="en"><p>Ease into saving money for your future with the gradual savings strategy: <a href="http://t.co/X4Y81XoKzF">http://t.co/X4Y81XoKzF</a> <a href="http://t.co/M0gapCH93e">pic.twitter.com/M0gapCH93e</a></p>&mdash; Lifehacker (@lifehacker) <a href="https://twitter.com/lifehacker/status/541007265198014464">December 5, 2014</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <hr>
      
      <h4>Frontline</h4>
      <p>For the important news</p>
      <blockquote class="twitter-tweet" lang="en"><p>Looking for something to watch tonight? Stream 170+ FRONTLINE documentaries available free anytime: <a href="http://t.co/RlVagR8XoJ">http://t.co/RlVagR8XoJ</a></p>&mdash; FRONTLINE (@frontlinepbs) <a href="https://twitter.com/frontlinepbs/status/541408055666417664">December 7, 2014</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</main> <!--container about-->
