<div class="container-fluid background-image-4">
  <div class="row" style="height:200px;"></div>
  <div class="row jumbotron" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="col-md-12" style="height:150px;">
        <h2 class="white text-center">Thank you.</h2>
        <p class="white text-center">We have recieved your payment and look forward to working with you.</p>
    </div>
  </div>
  <div class="row" style="height:400px;"></div>
</div>