<!--FORM-->
<main class="container contact">
  <h1>Contact</h1>
  <p class="lead">Call me personally, or drop a quick email about any questions or comments you have!</p>
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" role="form">
        <div class="form-group">
          <div class="input-group">
            <label for="fname" class="sr-only">First Name:</label>
            <input type="text" id="fname" name="first_name" placeholder="First name" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label for="lname" class="sr-only">Last Name:</label>
            <input type="text" id="lname" name="last_name" placeholder="Last name" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <label for="email" class="sr-only" >Email:</label> <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          </div>
        </div>
        <br><br>
        <div class="row col-md-12" style="margin-bottom: 10px;">
          <label for="message">Message:</label><textarea class="form-control" id="message" name="message" style="width: 100%; height: 150px;">Tell me what you're thinking!</textarea>
        </div>
        <div class="row col-md-12" style="margin-bottom: 30px;">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <!--MANUAL CONTACT-->
  <div class="row">
    
    <div class="col-md-4 col-sm-12">
      <address>
        <p>
          <span class="glyphicon glyphicon-envelope"></span>
          &nbsp;&nbsp;<strong><a href="mailto:ev176@georgetown.edu">General Contact</a></strong>              
        </p>
        <p>
          <span class="glyphicon glyphicon-briefcase"></span>
          &nbsp;&nbsp;<strong><a href="mailto:ev176@georgetown.edu">Work on projects together</a></strong>
        </p>
      </address>

      <address>
        <strong>PeerAchieve</strong>
        <br>
        669 Village C East
        Georgetown University
        Washington, D.C. 20057
        <br>
        (503) 309.6808
      </address>
    </div>

  </div>
</main> <!--container contact-->