<div class="jumbotron background-image-5" style="height:1000px">
  <div class="container white">
    <div class="row">
      <div class="col-md-8 for-background">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Frequently Asked Questions</h1>
            <p class="lead text-center">If you still have questions, please <a href="contact.html">contact us!</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h3><u>Guarantee</u></h3>
            <p>If, for any reason you are not satisfied at the end of the month, just use the <%= link_to 'Contact Us', contact_path %> page and you will recieve a refund in 6-11 days (depending on your bank).  We take a satisfaction inventory every week to make sure you're getting what you want, and always enjoy your feedback.</p>
            <h3><u>Quality</u></h3>
            <p>Our service pays above industry wages to attract top-tier talent.  Every one of our employees recieves incentive pay based on your satisfaction.</p>
            <h3><u>How much is it?</u></h3>
            <p>Our prices reflect what goal you seek to accomplish.  At our first meeting, we will have an in-depth discussion about your goals, and determine if our service is right for you. We guarantee our results because we believe in our service.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
