<div class="jumbotron background-image-7" style="height:1300px;">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-7 for-background-white">
        <h1>How We're Different</h1>
        <p class="col-md-11">Other weight loss plans have you focus on buzzwords that seem complex and sophisticated.  They have you eat only very specific foods (or worse, only food they provide).  They make you eat only at very specific times of day. They promise you can eat all of a certain kind of food as long as you avoid others. This is not our philosophy.</p>
        <h3>Our Philosophy</h3>
        <p class="lead col-md-12">Our philosophy is to focus on what's important, and maintain flexibility in everything else.  <em>The hard part of weight loss is not in knowing what the right thing to eat is, but instead sticking to an effective strategy.</em>  For that reason, we focus on developing effective strategies so you know what and when to eat and how to avoid temptation.</p>
        <h3>Working with your consultant</h3>
        <p class="lead col-md-12">At the first session, your consultant will ask you what your challenges are, and help you identify challenges you didn't recognize were there.  Your consultant will listen to your long term goals, and help you develop short-term goals that bring you to your long term goals quickly and safely, while considering and addressing the challenges you face.  Then, your consultant will offer you multiple plans to achieve these short term goals.  You select what you like, and then your consultant collaborates with you to tailor it perfectly to your needs.  Nearing the end of the program, your consultant coaches you to give you the tools necessary to create and achieve your goals.  If you would like to continue the program longer than 3 months, that option is also available by letting your consultant know.</p>
        <p class="lead col-md-12"><%= link_to 'Go back to the home page to sign up', root_path %></p>
      </div>
    </div>
  </div>
</div>