<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true"><!--enabling modal found on the first "Achieve Your Goals" button.  Put here to avoid inheretance issues-->
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h2 class="modal-header"><%= render "featured_product" %></h2>
      <p class="modal-body">Within 4 weeks</p>
    </div>
  </div>
</div><!--/modal-->

<!--CAROUSEL-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators eg circles near the bottom for slide selection-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol><!--/Indicators-->
  
  <!--slide wrapper-->
  <div class="carousel-inner" role="listbox" style="margin-bottom: 30px;">
    
    <div class="item active"><!--slide 1-->
      <img src="assets/CarouselSlide1gradient.jpg" alt="...">
      <div class="carousel-caption">
          <h1><em>Peer Achieve</em></h1>
          <h2>State your goals publicly to help you get things done.</h2>
          <br>
          <div class="row">
            <!-- Small modal -->
            <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-check"></span> Achieve your goals &raquo;</button><!--what the modal displays is right below the body tag-->
        </div>
      </div>
    </div><!--/slide-->
    
    <div class="item"><!--slide 1.5-->
      <img src="assets/stepscropped.jpg" alt="...">
      <div class="carousel-caption">
          <h1><em>Steps</em></h1>
          <h2>1. List your goals for the day.</h2>
          <h2>2. Get followed immediately by people like you.</h2>
          <h2>3. Get daily feedback and achieve more.</h2>
          <h2>Are you ready?</h2>
          <div class="row">
            <!-- Small modal -->
            <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-check"></span> Achieve your goals &raquo;</button><!--what the modal displays is right below the body tag-->
        </div>
      </div>
    </div><!--/slide-->
    
    <div class="item"><!--slide 2-->
      <img src="assets/CarouselSlide2editgradient.jpg" alt="...">
      <div class="carousel-caption">
        <h1><em>Never feel alone</em></h1>
        <div class="row">
          <p><a class="btn btn-primary btn-md" role="button" ><span class="glyphicon glyphicon-check"></span> Achieve your goals &raquo;</a></p>
        </div>
      </div>
    </div><!--/slide-->

    <div class="item"><!--slide 3-->
      <img src="assets/CarouselSlide3editgradient.jpg" alt="...">
      <div class="carousel-caption">
        <h1><em>Simple and easy to use</em></h1>
        <div class="row">
          <p><a class="btn btn-primary btn-md" role="button" ><span class="glyphicon glyphicon-check"></span> Achieve your goals &raquo;</a></p>
        </div>
      </div>
    </div><!--/slide-->

    <div class="item"><!--slide 4-->
      <img src="assets/CarouselSlide4editgradient.jpg" alt="...">
      <div class="carousel-caption">
        <h1><em>Just one step away from kicking butt</em></h1>
        <div class="row">
          <p><a class="btn btn-primary btn-md" role="button" ><span class="glyphicon glyphicon-check"></span> Achieve your goals &raquo;</a></p>
        </div>
      </div>
    </div><!--/slide-->

  </div><!--/slide wrapper-->

  <!--CONTROLS e.g. left and right arrows-->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--!! REMOVED IN PLACE OF CAROUSEL Main jumbotron for a primary marketing message or call to action -->
<!-- <div class="jumbotron">
  <div class="container">
      <div class="row">
        <h1><em>Peer Achieve</em></h1>
        <div class="for-background col-md-7 col-sm-12">
          <h3>State your goals publicly to help you get things done.</h3>
          <ol>
            <li>List your goals for the day.</li>
            <li>Get followed immediately by people like you.</li>
            <li>Get daily feedback and achieve more. Are you ready?</li>
          </ol>
        </div>
    </div>
    <div class="row">
      <p><a class="btn btn-primary btn-lg" role="button" ><span class="glyphicon glyphicon-check"></span> Achieve your goals &raquo;</a></p>
    </div>
  </div>
</div> -->

<!--3 COLUMNS FOR FURTHER DESCRIPTION-->
<div class="container anchor" id="description">
  <div class="row">
    
    <section class="col-md-4">
      <img src="/assets/achieve.jpg" alt="..." class="homepage-image">
      <h2>Achieve Your Goals.</h2>
      <p>It's not easy to achieve your goals alone.  Make your goals public and get the external motivation you need to get things done.</p>
      <p><a class="btn btn-default" href="#" role="button">Get started &raquo;</a></p>
    </section>
    
    <section class="col-md-4">
      <img src="assets/daily2.jpg" alt="..." class="homepage-image">
      <h2>Use It Daily.</h2>
      <p>Every day you will be sent a reminder email to update on your progress. Use the link in the email to comment on what you did and what you learned.  You'll get better every day.</p>
      <p><a class="btn btn-default" href="#" role="button">Get started &raquo;</a></p>
    </section>
    
    <section class="col-md-4">
      <img src="assets/support2.jpg" alt="..." class="homepage-image">
      <h2>Feel The Support.</h2>
      <p>Peer Achieve is a community of people just like you who want to get things done and share in their achievement.  Enjoy creating relationships with people who drive you.</p>
      <p><a class="btn btn-default" href="#" role="button">Get started &raquo;</a></p>
    </section>

  </div><!--/row-->
</div> <!-- /container -->
 <!--TEAM HEADER-->
<!-- <div class="row">
  <div class="col-md-4">
    <h2>This is who we are.</h2><br>
  </div>
</div> -->

<!--TEAM-->
<!-- <div class="row">
  
  <section class="col-md-3">
    <img src="assets/blank_headshot_m.jpeg" alt="...">
    <h3>Bill Task</h3>
    <p><span class="glyphicon glyphicon-user"></span> CEO, founder</p>
    <p></p>
  </section>

  <section class="col-md-3">
    <img src="assets/blank_headshot_f.jpg" alt="...">
    <h3>Jane Doe</h3>
    <p><span class="glyphicon glyphicon-user"></span> Commander-in-chief</p>
    <p></p>
  </section>

  <section class="col-md-3">
    <img src="assets/blank_headshot_m.jpeg" alt="...">
    <h3>Joe Schmoe</h3>
    <p><span class="glyphicon glyphicon-user"></span> Chief Task Do-er</p>
    <p></p>
  </section>

  <section class="col-md-3">
    <img src="assets/blank_headshot_f.jpg" alt="...">
    <h3>Marie U.X.</h3>
    <p><span class="glyphicon glyphicon-user"></span> User Interface Ninja</p>
    <p></p>
  </section>

</div> -->

<!--PARALLAX-->
<!-- <div class="row-fluid parallax" id="parallax" data-stellar-background-ratio="0.0001">
  <h2><a href="#">Start your climb.</a></h2>







