<script src="//js.stripe.com/v2/"></script>
<script>
    (function() {
        Stripe.setPublishableKey('pk_test_UQ2EqhNNQRrDkD5V0Z1xgpS5');
    })();
</script>
<script>
    $('#payment-form').on('submit', generateToken);
 
    var generateToken = function(e) {
        var form = $(this);
     
        // No pressing the buy now button more than once
        form.find('button').prop('disabled', true);
     
        // Create the token, based on the form object
        Stripe.create(form, stripeResponseHandler);
     
        // Prevent the form from submitting
        e.preventDefault();
    };
     
    var stripeResponseHandler = function(status, response) {};
</script>


<div class="jumbotron background-image-3">
  <div class="container" style="min-height: 800px">
    <div class="row" style="min-height:230px;"></div>
    <div class="row">
        <div class="col-md-12">
          <h2 class="white text-center">We can't wait to help you achieve your goals.</h2>
          <br>
        </div>
    </div>
    <div class="row">
      <div class="center-div">
        <%= form_tag "/payments" do %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %></div>
      </div>
    </div>
  </div>
</div>
        