<script src="//js.stripe.com/v2/"></script>
<script>
    (function() {
        Stripe.setPublishableKey('pk_test_UQ2EqhNNQRrDkD5V0Z1xgpS5');
    })();
</script>
<script>
    $('#payment-form').on('submit', generateToken);
 
    var generateToken = function(e) {
        var form = $(this);
     
        // No pressing the buy now button more than once
        form.find('button').prop('disabled', true);
     
        // Create the token, based on the form object
        Stripe.create(form, stripeResponseHandler);
     
        // Prevent the form from submitting
        e.preventDefault();
    };
     
    var stripeResponseHandler = function(status, response) {};
</script>


<div class="jumbotron background-image-3">
  <div class="container" style="height: 650px">
    <div class="row" style="min-height:180px;"></div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h2 class="white text-center" style="text-shadow: -4px 2px 2px rgba(150, 150, 150, 1);">We can't wait to help you achieve your goals.</h2>
          <br>
        </div>
    </div>
    <div class="row">
      <div class="center-div">
        <%= form_tag "/payments" do %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6">
        
        <p class="white">Site encrypted using Heroku SSLEndpoints, Stripe JS and <a style="color:white;" target="_blank" href="https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.achievemore.co">Expedited SSL</a>.</p>
      </div>
    </div>
  </div>
</div>
        