<script src="//js.stripe.com/v2/"></script>
<script>
    (function() {
        Stripe.setPublishableKey('pk_test_UQ2EqhNNQRrDkD5V0Z1xgpS5');
    })();
</script>
<script>
    $('#payment-form').on('submit', generateToken);
 
    var generateToken = function(e) {
        var form = $(this);
     
        // No pressing the buy now button more than once
        form.find('button').prop('disabled', true);
     
        // Create the token, based on the form object
        Stripe.create(form, stripeResponseHandler);
     
        // Prevent the form from submitting
        e.preventDefault();
    };
     
    var stripeResponseHandler = function(status, response) {};
</script>

<div class="container">
    <br>
    <h1>Achieve Your Goals</h1>
    <br>
</div>
<div class="jumbotron background-image-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 style="color:white">Purchase Consulting</h3>
                <h5 class="lead" style="color:white">Be connected with an expert, intelligent, helpful and friendly consultant who cares about your achievement.</p>
                <h3>Our Guarantee</h2>
                <p class="lead">If you aren't satisfied with our service for any reason, <span style="color:#52A552">we will refund your money, no questions asked.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <p>Be more productive</p>
                <p>Balance your time</p>
                <p>Secure your finances</p>
                <p>Lose weight</p>
            </div>
            <div class="col-md-3">
                <p>Win a new job</p>
                <p>Work better with others</p>
                <p>Establish a healthy lifestyle</p>
                <p>Create change</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <%= form_tag "/payments" do %>
                    <%= render partial: "shared/stripe_checkout_button" %>
                <% end %>
            </div>
        </div>
        <div class="row">
        <div class="col-md-8">
            <h4>Not sure?</h4>
            <p>No problem.  Just send a quick email and we'll get back to you within 24 hours.</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <form role="form">
                  <div class="form-inline">
                      <div class="form-group">
                        <div class="input-group">
                          <label for="fname" class="sr-only">First Name:</label>
                          <input type="text" id="fname" name="first_name" placeholder="First name" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <label for="lname" class="sr-only">Last Name:</label>
                          <input type="text" id="lname" name="last_name" placeholder="Last name" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <label for="email" class="sr-only">Email:</label>
                          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                      </div>
                  </div>
                  <br>
                  <div class="row col-md-12" style="margin-bottom: 10px;">
                    <label for="message">Message:</label><textarea class="form-control" id="message" name="message" style="width: 100%; height: 150px;">You'll get a response within 24 hours.  Ask anything.</textarea>
                  </div>
                  <div class="row col-md-12" style="margin-bottom: 30px;">
                    <button type="submit" class="btn btn-default">Get answers</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>