<div class="container">
    <br>
    <h1>Achieve Your Goals</h1>
    <br>
</div>
<div class="jumbotron background-image-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Purchase Consulting</h3>
                <p class="lead">Be connected with an expert, intelligent, helpful and friendly consultant who cares about your achievement.</p>
                <h3>Our Guarantee</h2>
                <p class="lead">If you aren't satisfied with our service after a week, <span class="text-success">cancel and you won't be charged a thing.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <p>Be more productive</p>
                <p>Balance your time</p>
                <p>Secure your finances</p>
                <p>Lose weight</p>
            </div>
            <div class="col-md-3">
                <p>Win a new job</p>
                <p>Work better with others</p>
                <p>Establish a healthy lifestyle</p>
                <p>Create change</p>
            </div>
        </div>
        <div class="row">
                <%= form_tag "/payments/create" do %>
                    <%= render partial: "shared/stripe_checkout_button" %>
                <% end %>
            </div>
    </div>
</div>