<div class="jumbotron background-image-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="min-height:800px;">
                <p class="white text-center vertical-align" style="height:400px;line-height:400px">Thank you.  We have recieved your message and will respond within 24 hours.</p>
            </div>
        </div>
    </div>
</div>