/*GENERAL SETTINGS */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
hr {
	margin: 2px 0px 13px 0px;
}

/* FONT SIZES */
body {
    font-size: 100%;
}
h1, .h1 {
    font-size: 3.6em; /* equal to 36px */
}
h2, .h2 {
    font-size: 3.0em; /* equal to 30px */
}
h3, .h3 {
    font-size: 2.4em; /* equal to 24px */
}
h4, .h4 {
    font-size: 1.8em; /* equal to 18px */
}
h5, .h5 {
    font-size: 1.4em; /* equal to 14px */
}
h6, .h6 {
    font-size: 1.2em; /* equal to 12px */
}

/* AFFECTS MULTIPLE PAGES */
.container {
	font-size: 14px;
}
.container h3, p, li{
	font-family: 'Noto Sans', sans-serif;
}

/* INDEX.HTML */

.anchor {
	padding-top: 40px;
	margin-top: -40px;
}
.item {
	max-height: 600px;
	min-height: 200px;
}
.homepage-image {
	width:240px;
	height:140px;
}
.carousel-control:hover {
	opacity: 0.35;
}
.carousel-control .glyphicon a:visited{
	color:white;
}
.glyphicon-chevron-left{
	color:white;
}
.glyphicon-chevron-right{
	color:white;
}
/* Removed Parallax section */
/*
	.parallax {
	  background-image: url('img/achieve 2.jpg');
	  height: 200px;
	  text-align: center;
	  color: white;
	  background-position: 0px 200px;
	}
	.parallax h2 {
	  line-height: 200px;
	  color: white !important;
	}
*/

/*ABOUT.HTML*/

/*CONTACT.HTML*/

.container.contact {
	background-color: white;
}

/*FAQ.HTML*/

.faq-section {
	margin: 10px 0px 0px 10px;
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	background-color: rgb(247,247,247);
}
.faq ol{
	font-size: 1.4em;
}
.faq-section ol {
	font-size: 1em !important;
}
.faq-section li {
	padding-left: 3em;
}
.faq-section h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}
#faq-skip {
	list-style-type: none;
	margin-left: -25px;
}

/* BLOG VIEWS */

.text-area {
	width:600px;
	height:400px;
}

/* NOT ACTIVE BECAUSE JUMBOTRON REPLACED BY CAROUSEL 
.jumbotron {
	background: url("img/JumbotronBackgroundImage.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	color: white;
}
.for-background {
	background-color: hsla(0,0%,0%,0.6);
	border-radius: 7px;
	margin-bottom: 10px;
}
.for-background li{
	font-size: 1.35em;
}
.for-background h3 {
	margin-top: 0px;
	margin-bottom: 15px;
}
*/